h1 {
    text-align: center;
    color: white;
    

}

span {
    /* text-align: center; */
    color: rgb(47, 146, 63);
    background-color: black;
}

/* .startStopButtons button {
    font-size: 64px;
} */

.mainDisplay {
    font-size: 50vw ;
    /* drop-shadow(16px 16px 10px black) */
}

#settings {
    font-size: 5vw;
}

.settings {
    text-align: center;
    font-size: 25vw;
}
